@using NHS111.Online.Tools.Web.Helpers
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Reports</h1>
        <p class="lead"></p>
        @if (User.IsFeedbackUser())
        {
            <p>
                @Html.ActionLink("View feedback", "Home", "Feedback")
            </p>
        }
    </div>
</div>